@charset "UTF-8";
/*Plik styl├│w wczytywany po bootstrapowym - Wczytywany po bootstrap.css*/
/*----------- apply a natural box layout model to all elements --------------*/
/* line 4, ../../sass/style_cs.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/*================MEDIA QUERIES za pomoc─ů sass==================================*/
/*================koniec MEDIA QUERIES za pomoc─ů sass===========================*/
/* line 2, ../../sass/_footer.scss */
div#footer-wrap {
  background-color: red;
}

/* line 6, ../../sass/_footer.scss */
footer {
  background-color: yellow;
}

/* line 76, ../../sass/style_cs.scss */
body {
  font-family: 'Magra', sans-serif;
  font-weight: 400;
  font-size: 1.7em;
  /*zwi─Ökszenie czcionki*/
  color: #333;
}

/* line 83, ../../sass/style_cs.scss */
a:hover {
  text-decoration: none;
}

/* line 87, ../../sass/style_cs.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

/* line 92, ../../sass/style_cs.scss */
h2 {
  font-size: 110%;
}

/* line 96, ../../sass/style_cs.scss */
div#main-wrap, footer {
  min-width: 280px;
}

/*================ETYKIETY przy u┼╝yciu bootstrap==================================*/
/* line 101, ../../sass/style_cs.scss */
.label {
  margin-right: 3px;
  font-weight: 400;
}

/*================koniec ETYKIETY ==================================*/
/*================TOOLTIP przy u┼╝yciu jQueryUI==================================*/
/* line 108, ../../sass/style_cs.scss */
.ui-tooltip {
  background: rgba(238, 238, 238, 0.9);
  font-size: 0.8em;
}

/*================koniec TOOLTIP przy u┼╝yciu jQueryUI==================================*/
/*================MIXINS - "domieszki"==================================*/
/*================WYDARZENIA==================================*/
/* line 128, ../../sass/style_cs.scss */
.wyrozniki {
  margin: 5em 0 5em 0;
  text-align: center;
}

/* line 135, ../../sass/style_cs.scss */
.carousel-inner img {
  margin: auto;
}

/* line 141, ../../sass/style_cs.scss */
article.wydarzenie div.odnosnik {
  overflow: hidden;
  *zoom: 1;
  border: none;
  background-color: #eee;
  margin-top: 25px;
  border-top: 5px solid #ccc;
}
@media only screen and (min-width: 992px) {
  /* line 141, ../../sass/style_cs.scss */
  article.wydarzenie div.odnosnik {
    border-left: 5px solid #ccc;
    border-top: none;
    height: 150px;
    margin-top: 10px;
  }
}
/* line 179, ../../sass/style_cs.scss */
article.wydarzenie div.odnosnik div.lewa {
  width: 100%;
  padding: 5px 10px 5px 10px;
  color: #333;
}
@media only screen and (min-width: 992px) {
  /* line 179, ../../sass/style_cs.scss */
  article.wydarzenie div.odnosnik div.lewa {
    width: 435px;
    float: left;
  }
}
/* line 189, ../../sass/style_cs.scss */
article.wydarzenie div.odnosnik div.lewa h2 {
  margin-top: 0;
  margin-bottom: 10px;
}
/* line 194, ../../sass/style_cs.scss */
article.wydarzenie div.odnosnik div.lewa div.kategorie {
  padding: 0;
  margin-bottom: 10px;
}
/* line 199, ../../sass/style_cs.scss */
article.wydarzenie div.odnosnik div.lewa div.opis {
  font-size: 1em;
  line-height: 1.1em;
}
/* line 205, ../../sass/style_cs.scss */
article.wydarzenie div.odnosnik div.prawa {
  width: 100%;
  background-color: #ccc;
  float: right;
}
@media only screen and (min-width: 400px) {
  /* line 205, ../../sass/style_cs.scss */
  article.wydarzenie div.odnosnik div.prawa {
    height: 150px;
  }
}
@media only screen and (min-width: 992px) {
  /* line 205, ../../sass/style_cs.scss */
  article.wydarzenie div.odnosnik div.prawa {
    width: 405px;
  }
}
/* line 219, ../../sass/style_cs.scss */
article.wydarzenie div.odnosnik div.termin {
  margin-top: 5px;
  font-size: 0.9em;
  line-height: 1em;
  color: #fff;
}
@media only screen and (min-width: 400px) {
  /* line 219, ../../sass/style_cs.scss */
  article.wydarzenie div.odnosnik div.termin {
    margin-left: 160px;
  }
}
@media only screen and (min-width: 992px) {
  /* line 219, ../../sass/style_cs.scss */
  article.wydarzenie div.odnosnik div.termin {
    margin-left: 10px;
    width: 240px;
    float: left;
  }
}
/* line 239, ../../sass/style_cs.scss */
article.wydarzenie div.odnosnik div.termin span.etykieta {
  display: block;
}
/* line 243, ../../sass/style_cs.scss */
article.wydarzenie div.odnosnik div.termin p.dzien, article.wydarzenie div.odnosnik div.termin p.godziny {
  font-size: 2.5em;
  margin-top: 10px;
  margin-bottom: 20px;
}
/* line 249, ../../sass/style_cs.scss */
article.wydarzenie div.odnosnik div.termin span.godziny {
  display: block;
  float: left;
}
/* line 254, ../../sass/style_cs.scss */
article.wydarzenie div.odnosnik div.termin span.minuty {
  font-size: 0.75em;
  margin-top: -0.25em;
  margin-left: 0.1em;
  display: block;
  float: left;
}
/* line 263, ../../sass/style_cs.scss */
article.wydarzenie div.odnosnik img.thumb {
  float: left;
  width: 150px;
  height: 150px;
}
@media only screen and (max-width: 399px) {
  /* line 263, ../../sass/style_cs.scss */
  article.wydarzenie div.odnosnik img.thumb {
    width: 80px;
    height: 80px;
    margin-right: 5px;
  }
}
/* line 276, ../../sass/style_cs.scss */
article.wydarzenie div.odnosnik div.termin-dzien p {
  margin: 0;
}
/* line 281, ../../sass/style_cs.scss */
article.wydarzenie div.odnosnik div.termin-dzien, article.wydarzenie div.odnosnik div.termin-godz {
  float: left;
  max-width: 120px;
  height: 100px;
  width: 50%;
}
@media only screen and (max-width: 399px) {
  /* line 281, ../../sass/style_cs.scss */
  article.wydarzenie div.odnosnik div.termin-dzien, article.wydarzenie div.odnosnik div.termin-godz {
    width: 77.5px;
  }
}
@media only screen and (min-width: 768px) {
  /* line 281, ../../sass/style_cs.scss */
  article.wydarzenie div.odnosnik div.termin-dzien, article.wydarzenie div.odnosnik div.termin-godz {
    width: 25%;
  }
}
@media only screen and (min-width: 992px) {
  /* line 281, ../../sass/style_cs.scss */
  article.wydarzenie div.odnosnik div.termin-dzien, article.wydarzenie div.odnosnik div.termin-godz {
    width: 120px;
    height: 100px;
  }
}
/* line 304, ../../sass/style_cs.scss */
article.wydarzenie div.odnosnik div.termin-lokalizacja {
  text-align: left;
  float: right;
  width: 100%;
}
@media only screen and (max-width: 399px) {
  /* line 304, ../../sass/style_cs.scss */
  article.wydarzenie div.odnosnik div.termin-lokalizacja {
    text-align: center;
  }
}
@media only screen and (min-width: 400px) {
  /* line 304, ../../sass/style_cs.scss */
  article.wydarzenie div.odnosnik div.termin-lokalizacja {
    height: 100px;
  }
}
@media only screen and (min-width: 992px) {
  /* line 304, ../../sass/style_cs.scss */
  article.wydarzenie div.odnosnik div.termin-lokalizacja {
    width: 240px;
    height: 50px;
    text-align: center;
  }
}
/* line 326, ../../sass/style_cs.scss */
article.wydarzenie div.odnosnik:hover {
  background: #d5d5d5;
  border-color: #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 5px solid #ccc;
}
/* line 331, ../../sass/style_cs.scss */
article.wydarzenie div.odnosnik:hover h2.tytul {
  text-decoration: underline;
}
@media only screen and (min-width: 992px) {
  /* line 326, ../../sass/style_cs.scss */
  article.wydarzenie div.odnosnik:hover {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 5px solid #ccc;
  }
}
/* line 348, ../../sass/style_cs.scss */
article.wydarzenie div.odnosnik:active {
  background-color: #aeaeae !important;
}
/* line 353, ../../sass/style_cs.scss */
article.wydarzenie div.odnosnik:active div.prawa {
  background-color: #aeaeae !important;
}
/* line 367, ../../sass/style_cs.scss */
article.wydarzenie div.bilety {
  overflow: hidden;
  *zoom: 1;
  border-color: #ccc;
}
/* line 371, ../../sass/style_cs.scss */
article.wydarzenie div.bilety a, article.wydarzenie div.bilety span {
  background-color: #eee;
  color: #333;
  padding: 6px 10px 6px 10px;
  display: block;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
@media only screen and (min-width: 992px) {
  /* line 371, ../../sass/style_cs.scss */
  article.wydarzenie div.bilety a, article.wydarzenie div.bilety span {
    padding-top: 3px;
    padding-bottom: 3px;
  }
}
@media only screen and (min-width: 992px) {
  /* line 371, ../../sass/style_cs.scss */
  article.wydarzenie div.bilety a, article.wydarzenie div.bilety span {
    display: inline-block;
  }
}
@media only screen and (min-width: 992px) {
  /* line 371, ../../sass/style_cs.scss */
  article.wydarzenie div.bilety a, article.wydarzenie div.bilety span {
    border-left: 5px solid #ccc;
    border-top: none;
    border-color: inherit;
  }
}
/* line 403, ../../sass/style_cs.scss */
article.wydarzenie div.bilety a.kup-bilet {
  background-color: #333;
  color: #fff;
  font-weight: 700;
  font-size: 1.5em;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  /* line 403, ../../sass/style_cs.scss */
  article.wydarzenie div.bilety a.kup-bilet {
    font-size: 1em;
  }
}
/* line 415, ../../sass/style_cs.scss */
article.wydarzenie div.bilety a.kup-bilet:hover {
  text-decoration: underline;
}
/* line 420, ../../sass/style_cs.scss */
article.wydarzenie div.bilety a.kup-bilet:active {
  background-color: #fff;
  color: #333;
}

/*================koniec WYDARZENIA==================================*/
